.DS_Store
.eslintcache
*.log
**/node_modules
coverage
# TEMP allow so this package can be imported by a package.json
#packages/**/build
#packages/**/main
#packages/**/module
launch.json
.vscode/settings.json
.idea/
__fixtures__/misc/proto-download/**
